// Wallpaper menu
.wallpaper-settings,
.wallpaper-details {
  background-color: $background;
  border-radius: $border-radius;
  padding: 2rem;

  > * {
    margin-top: 1rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .code {
    font-family: monospace;
  }

  .tag {
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: $border-radius;
    color: $mocha-crust;

    &.nsfw {
      background-color: $mocha-pink;
    }

    &.sfw {
      background-color: $mocha-sapphire;
    }

    &.sketchy {
      background-color: $mocha-peach;
    }
  }

  .button {
    background-color: $black;
    color: $mauve;
    border-radius: $border-radius;
    padding: 0.5rem 0.25rem;
    margin-top: 2rem;
  }

  .input {
    .entry {
      background-color: $gray;
      border-radius: $border-radius;
      padding: 0.5rem;
      margin: 0.5rem;
    }
  }

  switch {
    background-color: $black;
    border-radius: $border-radius;
    margin-right: 1rem;

    slider {
      border-radius: $border-radius;
      background-color: $gray;
    }

    &.active slider {
      background-color: $mauve;
    }
  }
}
