@use 'variables' as *;
@use 'tooltips';
@use 'windows/bar';
@use 'windows/calendar';
@use 'windows/power-menu';
@use 'windows/wallpaper-menu';
@use 'windows/weather-popup';

// Global
* {
  all: unset;
}

menu {
  background-color: $mocha-base;
  border-radius: $border-radius;
  padding: 0.25rem 0;

  > * {
    padding: 0.35rem 0.75rem;

    &:hover {
      background-color: $mocha-crust;
    }
  }
}

.separator {
  background-color: $mocha-crust;
}
