@import '_catppuccin.scss';

// Variable Color
$background: $mocha-base;
$foreground: $mocha-text;

$black: $mocha-crust;
$gray: $mocha-surface0;
$red: $mocha-red;
$green: $mocha-green;
$yellow: $mocha-yellow;
$blue: $mocha-blue;
$magenta: $mocha-maroon;
$mauve: $mocha-mauve;
$cyan: $mocha-sapphire;
$white: $foreground;

$bar-spacing: 0.5rem;
$v-padding: $bar-spacing;
$h-padding: $bar-spacing / 2;
$border-radius: 0.5rem;
